## npm
/node_modules/
/npm-debug.log

tsconfig.tsbuildinfo
/test-results/
/playwright-report/
/blob-report/
/.coverage/
/coverage/
/playwright/.cache/
.idea
.metals
.vscode
angular.ts.iml
/@types/
/.build/

/tools/vscode/.vscode-test/
