/*

Add styles or override variables from the theme here.

*/

$primary: #117cee;
$secondary: #005fc4;

$td-enable-google-fonts: true;
$td-google-font-name: 'Inter';
$td-google-font-family: 'Inter:300,400,700,800,900';
