#td-cover-block-0 {
  h1 {
    font-weight: 900;

    & span {
      color: var(--bs-secondary);
    }
  }

  &::after {
    background-color: white !important; // override dark overlay
  }

  #download {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;

    #version {
      font-weight: 600;
      margin-right: 2rem;
    }
  }

  #npm {
    margin-top: 2rem;
    display: flex;
    justify-content: center;

    .click-to-copy {
      display: block;
      float: right;
    }

    pre {
      color: white;
      background-color: gray !important;
      border-radius: 5px;
    }

    code > :first-child {
      padding: 1rem;
      border-radius: 5px;
      padding-right: 3rem;
    }
  }
}
