<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>AngularTS Test Runner</title>

    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico" />

    <!--     
    <script src="https://cdn.jsdelivr.net/npm/angular@1.8.3/angular.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/angular-animate@1.8.3/angular-animate.js"></script>
    <script>window.angular.module("test", [])</script> -->

    <script type="module" src="/src/index.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        window.angular
          .module("test", [])
          .run([
            "$anchorScroll",
            function ($anchorScroll) {
              $anchorScroll.yOffset = 100; // always scroll by 50 extra pixels
            },
          ])
          .controller("headerCtrl", [
            "$anchorScroll",
            "$location",
            "$scope",
            function ($anchorScroll, $location, $scope) {
              $scope.gotoAnchor = function (x) {
                window.$locationTest = $location;
                const newHash = "anchor" + x;
                if ($location.hash() !== newHash) {
                  // set the $location.hash to `newHash` and
                  // $anchorScroll will automatically scroll to it
                  $location.hash("anchor" + x);
                } else {
                  // call $anchorScroll() explicitly,
                  // since $location.hash hasn't changed
                  $anchorScroll();
                }
              };
            },
          ]);
      });
    </script>

    <style>
      body {
        padding-top: 50px;
      }

      .anchor {
        border: 2px dashed DarkOrchid;
        padding: 10px 10px 200px 10px;
      }

      .fixed-header {
        background-color: rgba(0, 0, 0, 0.2);
        height: 50px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
      }

      .fixed-header > a {
        display: inline-block;
        margin: 5px 15px;
      }
    </style>
  </head>
  <body ng-app="test">
    <div class="fixed-header" ng-controller="headerCtrl">
      <a ng-click="gotoAnchor(x)" ng-repeat="x in [1,2,3,4,5]">
        Go to anchor {{x}}
      </a>
    </div>
    <div id="anchor{{x}}" class="anchor" ng-repeat="x in [1,2,3,4,5]">
      Anchor {{x}} of 5
    </div>
  </body>
</html>
