<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>AngularTS Test Runner</title>

    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico" />
    <script type="module" src="/src/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.2/lib/anime.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        window.angular.module("test", []).animation(".movable", [
          function () {
            return {
              addClass: function (element, className, doneFn) {
                anime({
                  targets: element,
                  translateX: parseInt(className),
                });
              },
              removeClass: function (element, className, doneFn) {},
              setClass: function (element, className, removedClass, doneFn) {
                anime({
                  targets: element,
                  translateX: parseInt(className),
                });
              },
            };
          },
        ]);
      });
    </script>

    <style></style>
  </head>
  <body ng-app="test">
    <div ng-class="location" class="movable" animate="true">
      this box is moody {{ location }}
    </div>
    <div ng-class="location" class="movable" data-animate="true">
      this box is moody {{ location }}
    </div>
    <button ng-click="location='0'">Change to red</button>
    <button ng-click="location='150'">Change to blue</button>
    <button ng-click="location='300'">Change to green</button>
  </body>
</html>
