<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>AngularTS</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.ico" />
    <script type="module" src="/src/index.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        class Demo {
          constructor(adder) {
            this.adder = adder;
          }

          async test() {
            this.y = (await this.adder).add(
              Math.floor(Math.random() * 100),
              Math.floor(Math.random() * 100),
            );
          }
        }
        window.angular
          .module("todo", [])
          .controller("DemoCtrl", Demo)
          .wasm("adder", "/src/directive/wasm/math.wasm");
      });
    </script>
  </head>
  <body ng-app="todo">
    <div ng-controller="DemoCtrl as $ctrl">
      {{ $ctrl.y }}
      <button ng-click="$ctrl.test()">test</button>
    </div>
    <ng-wasm src="/src/directive/wasm/math.wasm" as="demo1"></ng-wasm>
    <input type="number" ng-model="a" ng-keyup="x = demo1.add(a, b)" />
    <input type="number" ng-model="b" ng-keyup="x = demo1.add(a, b)" />
    {{ x }}
  </body>
</html>
