<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>AngularTS</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.ico" />
    <script type="module" src="/src/index.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        angular
          .module("app", [])
          .session(
            "sessionStore",
            class {
              counter = 0;
            },
          )
          .local(
            "localStore",
            class {
              counter = 0;
            },
          );
      });
    </script>
  </head>
  <body ng-app="app">
    <div ng-inject="sessionStore">
      {{ sessionStore.counter }}
      <button ng-click="sessionStore.counter = sessionStore.counter + 1">
        +
      </button>
    </div>

    <div ng-inject="localStore">
      {{ localStore.counter }}
      <button ng-click="localStore.counter = localStore.counter + 1">+</button>
    </div>
  </body>
</html>
