<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>AngularTS</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.ico" />
    <script type="module" src="/src/index.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        class Demo {
          constructor(user) {
            this.users = [];
            this.user = user;
          }

          async test() {
            this.users = await this.user.list();
          }
        }
        class User {
          constructor({ id, name }) {
            this.id = id;
            this.name = name;
          }
        }

        window.angular
          .module("example", [])
          .rest("user", "/mock/users/", User)
          .controller("Demo", Demo);
      });
    </script>
  </head>
  <body ng-app="example">
    <div ng-controller="Demo as $ctrl">
      <ul>
        <li ng-repeat="u in $ctrl.users">{{ u.name }}</li>
      </ul>
      <button ng-click="$ctrl.test()">Test</button>
    </div>
  </body>
</html>
